<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <fieldset>
        <form action="/auth/signup/" method="post">
            <label for="usn">Username</label>
            <input type="text" name="username" id="usn">
            <label for="email">Email </label>
            <input type="text" name="email" id="usn">
            <label for="pswd">Password </label>
            <input type="password" name="password" id="pswd">
            <input type="submit" value="Sign UP">
        </form>
    </fieldset>
</body>

</html>